.main-content {
    padding: 20px;
    width: 70%;
}

.create {
    margin: 0 100px;
    background-color: #90B8F8;
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;
}

.form-control {
    border: none;
    background: none;
    box-shadow: none;
    background-color: #FBFBFB !important;
    height: 80px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #FBFBFB !important;
    color: gray !important;
    font-size: 1em;
    font-weight: normal;
}

.btn.text-changed {
    color: #26282B !important;
    font-size: 1.1em;
    font-weight: bold;
}
