.main-content {
    padding: 20px;
}

.header {
    margin-top: 80px;
}

.form-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

label{
    font-size: 18px;
    font-weight: bold;
    color: #82868C;
}
