.main-content {
    padding: 20px;
}

.header {
    position: fixed;
    width: 60%;
    margin: 0 100px;
}

.header .bi-search {
    position: absolute;
    right: 33%;
    top: 65%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.header input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 500px;
    height: 40px;
    margin-left: 150px;
    margin-top: 20px;
}

.tasks {
    margin-top: 80px;
}

.tasks h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.task-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 85%;
}

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #90B8F8;
}

.task-list h3 {
    margin: 0;
    font-size: 18px;
}

.task-date {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    align-self: flex-start;
    transition: background-color 0.3s;
}

.task-today {
    background-color: #C40C0C;
    color: white;
    width: 150px;
}

.checkbox-checked {
    background-color: #28A745;
    color: white;
    width: 150px;
}

.edit-list-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.task-list {
    cursor: pointer;
}

.task-list:hover {
    background-color: #FAFAFA;
}
