body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}

.logout-container {
    background-color: #FAFAFA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-header {
    background-color: #5F85DB;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-radius:30px 30px 0 0 ;
    position: relative;
}

.back-button {
    position: absolute;
    left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.profile-pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.profile-info {
    color: #fff;
    text-align: center;
    flex-grow: 1;
}

.profile-info h2 {
    margin: 0;
}

.profile-info p {
    margin: 5px 0 0;
}

.menu-items {
    width: 100%;
    margin-bottom: 100px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
}

.menu-item i {
    font-size: 24px;
    margin-right: 20px;
    color: #26282B;
}

.menu-item span {
    font-size: 25px;
    font-weight: bold;
    color: #26282B;
}

.logout-button {
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #FAFAFA;
}

.logout-button a {
    background-color: #5F85DB !important;
    color: #FAFAFA;
    border: none;
    padding: 10px 100px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.logout-button a:hover {
    background-color: #90B8F8 !important;
}
