body {
    font-family: Arial, sans-serif;
    background-color: #FAFAFA;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 500px;
}

.left {
    width: 50%;
}

.left h1 {
    font-size: 60px;
    color: #5F85DB;
    font-weight: bold;
}
.highlighted-text {
    color: #90B8F8;
}

.icon img {
    width: 400px;
    height: 400px;
}

.right {
    width: 740px;
    height: 530px;
    background-color: #90B8F8;
    padding: 20px;
    border-radius: 30px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #543310;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #737E88;
    background-color: #EEEDEB;
}

form button {
    padding: 5px;
    background-color: #5F85DB;
    color: #F5F7F8;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    width: 210px;
    margin-left: 220px;
}

.p1{
    margin-left: 275px;
    margin-top: 5px;
}

form label {
    margin-bottom: 5px;
    color: #F5F7F8;
}

form label a {
    color: #212121 !important;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
    margin-left: 25px;
}

.social a {
    width: 30px;
    height: 30px;
    margin: 0 20px 20px 0;
}

.social img {
    width: 100%;
    height: auto;
}

.p2{
    margin-left: 235px;
    color: #FAFAFA;
}

.p2 a{
    color: #212121 !important;
}

.password-container {
    position: relative;
}
.password-container input {
    padding-right: 500px;
}
.eye-icon {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}
