body {
    font-family: Arial, sans-serif;
    background-color: #F8F4E1;
    color: #543310;
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-size: 35px;
    font-weight: bold;
}
.header input {
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 600px;
    background-color: #E5DACE;
    margin-right: 300px;
}

.tasks {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.tasks h2 {
    width: 100%;
    text-align: center;
    color: #543310;
}

.task-list {
    width: 45%;
    background-color: #AF8F6F;
    padding: 20px;
    border-radius: 10px;
    color: #E5DACE;
}

.task-list h3, .task-list h4 {
    margin: 0 0 10px;
    color: #E5DACE;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task span {
    width: 80%;
}

.task .task-date {
    width: 20%;
    text-align: right;
}
